.itConsultingContainer {
}

.itConsulting,
.itConsulting2 {
  display: flex;
  gap: 30px;
  padding: 80px;
  /* background-color: pink; */
}
.itConsulting2 {
  background-color: #081158;
}
.itCotainerLeft {
  flex: 0.7;
  /* background-color: green; */
}

.itCotainerLeft > h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Sato, sans-serif;
  font-size: 64px;
  line-height: 1.1em;
  font-weight: 500;
  color: #081158;
  font-weight: 500;
}
.itCotainerLeft > h5 {
  font-size: 20px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.8em;
  font-family: "Red Hat Display", sans-serif;
  color: #081158;
}
.itCotainerLeft2 > h1 {
  color: white;
}
.itCotainerLeft2 > h5 {
  color: white;
}
.itContainerContent > div {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  padding: 10px 40px;
  /* background-color: red; */
  /* background-color: #081158; */
}
.itContainerContent > div > p {
  font-size: 16px;
  line-height: 1.8em;
  font-weight: 500;
  font-family: "Red Hat Display", sans-serif;
  color: #081158;
}
.itContainerContent2 > div > p {
  color: white;
}

.itCotainerRight {
  flex: 0.4;
  display: flex;
  justify-content: center;
  position: relative;
  /* background-color: gold; */
  height: 400px;
  margin-bottom: 80px;
}
.itCotainerRight > img {
  width: 80%;
  height: 320px;
  position: absolute;
  bottom: -80px;
  border-radius: 10px;
  z-index: 111;
}
.bgImage {
  width: 35vw;
  height: 50%;
  width: 100%;
  height: 100%;
  background-color: #081158;
  background-image: url("https://assets.website-files.com/5e80894f63c557e083ed96b4/5e80addcd75a9b21b0f7c7f9_Shapes.svg");
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 11;
}
.bgImage2 {
  background-color: var(--color-blue-4);
}
.itSpan,
.itSpan2 {
  font-size: 16px;
  line-height: 1.8em;
  font-weight: 500;
  font-family: "Red Hat Display", sans-serif;
  color: #081158;
}
.itSpan2 {
  color: white;
}
.infraDiv {
  padding: 10px 90px;
}
.infraCardContainer {
  display: flex;
  /* padding: 80px; */
  gap: 40px;
  /* background-color: red; */
  margin-top: 40px;
}
.infraCard {
  background-color: #081158;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  border: 1px dotted red;
}

.infraCard > h2 {
  text-align: center;
  color: white;
  font-family: "Red Hat Display", sans-serif;
}
.infraCard > p {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  color: white;
  line-height: 1.5;
  margin-top: 10px;
}
.infraCard :hover {
  /* background-color: white; */
  /* border: 1px solid red; */
}
.infraTwoCards {
  padding: 80px;
}
.digitalCardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  grid-gap: 20px;
  width: 100%;
}

.digitalWebType {
  padding: 80px;
}
.digitalWebType > h2 {
  font-family: "Red Hat Display", sans-serif;
  color: red;
  font-family: Sato, sans-serif;
  font-size: 34px;
  line-height: 1.1em;
  font-weight: 500;
}

@media screen and (max-width: 1080px) {
  .itConsulting,
  .infraTwoCards,
  .digitalWebType {
    padding: 40px;
    /* background-color: red; */
    flex-direction: column;
  }
  .digitalWebType {
    /* padding: 40px 80px; */
  }
  .digitalCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  .itCotainerLeft > h1 {
    font-size: 30px;
  }
  .bgImage {
    height: 50%;
    height: 400px;
  }
}

@media screen and (max-width: 810px) {
  .infraCardContainer {
    flex-direction: column;
  }
  .itConsulting,
  .itConsulting2,
  .infraTwoCards {
    padding: 40px !important;
  }
  .itContainerContent {
    /* background-color: red; */
  }
  .itContainerContent > div {
    padding: 10px;
  }
  .digitalWebType {
    padding: 10px;
    /* background-color: yellow; */
  }
  .digitalWebType > h2 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 580px) {
  .digitalCardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .itConsulting,
  .itConsulting2,
  .infraTwoCards {
    padding: 30px 10px !important;
  }
  .itCotainerRight > img {
    width: 80%;
    height: 320px;
    position: absolute;
    bottom: -80px;
    border-radius: 10px;
    z-index: 111;
  }
  .bgImage {
    height: 50%;
    height: 300px;
    background-size: contain;
  }
  .infraDiv {
    padding: 10px 40px;
    margin-top: -10px;
  }
}
